

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Orbitron&display=swap');

img{
    width: 65%;
    height: 80%;
    margin-left: 20%;
    margin-top: 20px;
}

.parent{
    background-color: white;
    height: 600px;
}



.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: red;
}







